/* ---------------- base ------------------*/
* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: $color_primary;
  color: $color_secondary;

  font-family: $font_primary;
  font-weight: $font-weight_primary;
  font-size: $font-size_primary;
}

/* ---------------- global ------------------*/

section {
  padding: 1em;
}

h1 {
  font-family: $font_secondary;
  font-weight: $font-weight_primary;
  font-size: 2em;
}

h2 {
  font-family: $font_secondary;
  font-weight: $font-weight_secondary;
  font-size: $font-size_secondary;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* ---------------- link ------------------*/

a,
link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color_secondary;
}

a:hover,
link:hover {
  color: $color_secondary;
}
