* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: $color_primary;
  color: $color_secondary;

  font-family: $font_primary;
  font-weight: $font-weight_primary;
  font-size: $font-size_primary;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 0;
}