// color variables
$color_primary: #1f262c;
$color_primary--lighter: #45515e;

$color_secondary: #bdc3c7;
$color_secondary--lighter: #ecf0f1;

$color_tertiary: #f1c40f;

//font variables
$font_primary: 'Montserrat', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$font-weight_primary: 500;
$font-size_primary: 1rem;

$font_secondary: 'Caveat', cursive;
$font-weight_secondary: 400;
$font-size_secondary: 4rem;

//utilities
$border-radius_primary: 0.3rem;
$box-shadow_primary: -1px 1px 16px 5px rgba(0, 0, 0, 0.25);
