// color variables
$color_primary: #212121;
$color_primary--lighter: #c7c7c7;

$color_secondary: #ecf0f1;
$color_secondary--lighter: #ecf0f1;

$color_tertiary: #f39c12;

//font variables
$font_primary: 'Montserrat', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$font-weight_primary: 500;
$font-size_primary: 1rem;

$font_secondary: 'Caveat', cursive;
$font-weight_secondary: 400;
$font-size_secondary: 4rem;

//utilities
$border-radius_primary: 0.3rem;
$box-shadow_primary: -1px 1px 10px 5px rgba(0, 0, 0, 0.25);
