/* ----------- project card --------------------- */
.project__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;

  margin: 0 auto;
  padding: 1em;

  & img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    -o-object-fit: cover;
    object-fit: cover;

    background-color: $color_secondary;
    box-shadow: $box-shadow_primary;
    border-radius: $border-radius_primary;

    filter: brightness(50%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;

    opacity: 15%;

    height: 100%;

    &:hover {
      opacity: 95%;
    }

    &__title,
    &__technologies,
    &__description {
      background-color: $color_primary;
      color: $color_secondary;
      border-radius: $border-radius_primary;

      padding: 0.8em;

      line-height: 1.5em;
    }

    &__technologies {
      display: flex;
      justify-content: space-evenly;
      color: $color_tertiary;
    }

    &__links {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media all and (max-width: 960px) {
  .project__card {
    width: 45%;
  }
}

@media all and (max-width: 640px) {
  .project__card {
    width: 90%;
  }
}
