/* ---------------- CSS reset ------------------*/
/* CSS Reset for a complete clean start composed of : 
   Meyer CSSReset + addons by JossiCssReset + addons by me 
   last modif : 03/06/2022
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset for safari issues */
/* github.com/Jossnaz/JossiCssReset */
input,
textarea {
  border-radius: 0;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ADDONS by me for links*/
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  text-decoration: none;
}

/* ---------------- base ------------------*/
* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #1f262c;
  color: #bdc3c7;
  font-family: "Montserrat", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* ---------------- global ------------------*/
section {
  padding: 1em;
}

h1 {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 4rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* ---------------- link ------------------*/
a,
link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #bdc3c7;
}

a:hover,
link:hover {
  color: #bdc3c7;
}

/* ---------------- home ------------------*/ /* ---------------- header ------------------*/
header {
  width: 100%;
  padding: 1.5em;
  background-color: #45515e;
  box-shadow: -1px 1px 16px 5px rgba(0, 0, 0, 0.25);
}

#header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 2em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  font-size: 1.5em;
}
nav ul li:hover {
  cursor: pointer;
  color: #f1c40f;
}

/* ---------------- footer ------------------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  background-color: #45515e;
  box-shadow: -1px 1px 16px 5px rgba(0, 0, 0, 0.25);
}
.footer__message {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}
.footer__credit {
  font-size: 0.8em;
}
.footer__credit a {
  display: inline-block;
}
.footer__credit a:hover {
  color: #f1c40f;
}

/* ---------------- main ------------------*/
main {
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

/* ---------------- about ------------------*/
#about p {
  text-align: justify;
}

/* ---------------- skills ------------------*/
#skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----------- skill icon --------------------- */
.skill__icon {
  height: 3em;
  aspect-ratio: 1;
  margin: 1.5em;
  transition: 500ms ease-in-out;
}
.skill__icon:hover {
  scale: 1.3;
  transition: 500ms ease-in-out;
}
.skill__name {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

/* ----------- projects --------------------- */
#project_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* ----------- project card --------------------- */
.project__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  padding: 1em;
  transition: 300ms ease-in-out;
}
.project__card:hover {
  scale: 1.02;
  transition: 300ms ease-in-out;
}
.project__card img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #bdc3c7;
  box-shadow: -1px 1px 16px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  filter: brightness(50%);
}
.project__card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  opacity: 95%;
  height: 100%;
}
.project__card__content:hover {
  opacity: 95%;
}
.project__card__content__title, .project__card__content__technologies, .project__card__content__description {
  background-color: #1f262c;
  color: #bdc3c7;
  border-radius: 0.3rem;
  padding: 0.8em;
  line-height: 1.5em;
}
.project__card__content__technologies {
  display: flex;
  justify-content: space-evenly;
  color: #f1c40f;
}
.project__card__content__links {
  display: flex;
  justify-content: space-evenly;
}

@media all and (max-width: 960px) {
  .project__card {
    width: 45%;
  }
}
@media all and (max-width: 640px) {
  .project__card {
    width: 90%;
  }
}
/* ---------------- contact ------------------*/
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}
.contact__form__label {
  display: none;
}
.contact__form__input, .contact__form__textarea {
  width: 90%;
  background-color: #ecf0f1;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 0.5rem;
}
.contact__form__textarea {
  resize: none;
}
.contact__form__submitbtn {
  border-color: #f1c40f;
  border-style: solid;
  display: flex;
  margin: 0.5rem auto;
  font-weight: 500;
}
.contact__form__submitbtn:hover {
  color: #ecf0f1;
}

/* -----------separator----------------- */
.separator {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 3em 0;
  padding: 0.2em;
  opacity: 70%;
}
.separator_number {
  font-family: "Caveat", cursive;
}
.separator_line {
  height: 0.15em;
  width: 2em;
  background-color: #bdc3c7;
  border-radius: 3em;
}
.separator_text {
  background-color: #ecf0f1;
  color: #1f262c;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  padding: 0.7em;
}
.separator_text a {
  display: inline;
  color: #1f262c;
  text-decoration: underline;
}
.separator_text a:hover {
  color: #f1c40f;
}

.reverse {
  flex-direction: row-reverse;
}

@media all and (max-width: 640px) {
  .separator_line {
    width: 1em;
  }
}
.button {
  padding: 0.5em 2em;
  border: 1px;
  border-color: #f1c40f;
  border-style: solid;
  border-radius: 0.3rem;
  background-color: #f1c40f;
  color: #1f262c;
  z-index: 99;
}
.button:hover {
  background-color: #1f262c;
}
