/* ---------------- contact ------------------*/
.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    &__label {
      display: none;
    }
    &__input,
    &__textarea {
      width: 90%;
      background-color: $color_secondary--lighter;
      border-radius: $border-radius_primary;
      margin: 1rem;
      padding: 0.5rem;
    }
    &__textarea {
      resize: none;
    }
    &__submitbtn {
      border-color: $color_tertiary;
      border-style: solid;
      display: flex;
      margin: 0.5rem auto;
      font-weight: 500;

      &:hover {
        color: $color_secondary--lighter;
      }
    }
  }
}
