// HEADER
header {
  width: 100%;
  padding: 1.5em;

  background-color: $color_primary--lighter;
  box-shadow: $box-shadow_primary;
}

#header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;

  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: $font_secondary;
  font-weight: $font-weight_primary;
  font-size: 2em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;

  font-size: 1.5em;

  & li:hover {
    cursor: pointer;
    color: $color_tertiary;
  }
}
