/* -----------separator----------------- */
.separator {
  display: flex;
  align-items: center;
  gap: 1em;

  margin-top: 1em;
  padding: 0.2em;

  opacity: 70%;
}
.separator_number {
  font-family: var(--font-secondary);
}
.separator_line {
  height: 0.15em;
  width: 2em;
  background-color: var(--color-secondary--darker);
  border-radius: 3em;
}
.separator_text {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--borderradius-primary);
  font-size: 0.8rem;
  padding: 0.5em;
}
.separator_text a {
  display: inline;
  color: var(--color-primary);
  text-decoration: underline;
}
.separator_text a:hover {
  color: var(--color-tertiary);
}
