/* ---------------- footer ------------------*/
footer {
  width: 100%;
  padding: 1em;

  background-color: $color_primary--lighter;
  box-shadow: $box-shadow_primary;

  & p {
    text-align: right;
    font-family: $font_secondary;
    font-size: 1.5em;
  }
}
