/* ---------------- footer ------------------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 1em;

  background-color: $color_primary--lighter;
  box-shadow: $box-shadow_primary;

  &__message {
    font-family: $font_secondary;
    font-size: 1.5em;
  }

  &__credit {
    font-size: 0.8em;

    & a {
      display: inline-block;
      &:hover {
        color: $color_tertiary;
      }
    }
  }
}
