/* ---------------- header ------------------*/
.header {
  //   width: 100%;
  padding: 1.5em;

  background-color: $color_primary--lighter;
  color: $color_primary;
  box-shadow: $box-shadow_primary;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1400px;
    margin: 0 auto;

    &__links {
      display: flex;
      gap: 1em;
      &__icon {
        width: 2em;
      }
    }
  }
}

h1 {
  font-family: $font_secondary;
  font-weight: $font-weight_primary;
  font-size: 2em;
}
